/* DEFAULT SETTINGS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'!important;
}
body {
    background-color: transparent !important;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none !important; 
}

/* CONSTANTS */
.hand {
	cursor: pointer
}

.bold {
	font-weight: bold;
}

.fullSize {
    width: 100% !important;
    height: 100% !important
}
.fullHeight {
    height: 100%
}
.fullWidth {
    width: 100%!important
}
.width-small{
    width: 10%;
}
.width-big{
    width: 80%;
}

.width-45px{
    width: 45px;
}
.overflow {
    overflow: hidden;
}

.pos-rel {
    position: relative !important;
}
.pos-abs {
    position: absolute !important;
}

.t-center {
    text-align: center
}
.t-red {
    color: #FF0000 !important;
}
.t-white {
    color: white !important
}
.center {
    margin: 0 auto
}
.pos-abs-00{
    position: absolute;
    top: 0;
    left: 0;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-size-20{
    font-size: 20px;
}
.o-low {
    opacity: .3
}
.o-mid {
    opacity: .6
}
.o-high {
    opacity: .9
}
.o-full {
    opacity: 1
}

.flt-rgt {
	float: right !important
}
.flt-lft {
	float: left !important
}

.none {
    display: none
}
.inl-blc {
    display: inline-block
}
.blc {
    display: block;
}

.no-push {
	margin: 0 !important
}
.no-padd {
	padding: 0 !important
}
.no-padd-btm {
    padding-bottom: 0 !important;
}
.padd-hlf{
    padding: 15px !important
}
.padd{
    padding: 30px !important
}
.padd-dbl{
    padding: 60px !important
}
.push-hlf{
    margin: 15px !important
}
.push{
    margin: 30px !important
}
.push-dbl{
    margin: 60px !important
}
.padd-btm-hlf {
	padding-bottom: 15px !important
}
.padd-btm {
	padding-bottom: 30px !important
}
.padd-btm-dbl {
	padding-bottom: 60px !important
}
.padd-top-hlf {
	padding-top: 15px !important
}
.padd-top {
	padding-top: 30px !important
}
.padd-top-dbl {
	padding-top: 60px !important
}
.padd-lft-hlf {
	padding-left: 15px !important
}
.padd-lft {
	padding-left: 30px !important
}
.padd-lft-dbl {
	padding-left: 60px !important
}
.padd-rgt-hlf {
	padding-right: 15px !important
}
.padd-rgt {
	padding-right: 30px !important
}
.padd-rgt-dbl {
	padding-right: 60px !important
}
.push-btm-hlf {
	margin-bottom: 15px !important
}
.push-btm {
	margin-bottom: 30px !important
}
.push-btm-dbl {
	margin-bottom: 60px !important
}
.push-top-hlf {
	margin-top: 15px !important
}
.push-top {
	margin-top: 30px !important
}
.push-top-dbl {
	margin-top: 60px !important
}
.push-lft-hlf {
	margin-left: 15px !important
}
.push-lft {
	margin-left: 30px !important
}
.push-lft-dbl {
	margin-left: 60px !important
}
.push-rgt-hlf {
	margin-right: 15px !important
}
.push-rgt {
	margin-right: 30px !important
}
.push-rgt-dbl {
	margin-right: 60px !important
}
.letter-s{
    letter-spacing: 5px!important;
}

/* UNDERILINE EFFECT */
.underline-effect {
    position: relative;
    display: inline-block;
}
.underline-effect:after {
    border-bottom: 2px solid black;
    content: "";
    display: block;
    transition: width 0.3s;
    position: relative;
    left: 0;
    bottom: 0;
}
.underline-effect:not(.active):after {
    width: 0%;
}
.underline-effect-wrapper:hover .underline-effect:after {
    width: 100%
}

/* GENERAL */
.vertical-line-red{
    width: 1px;
    border-right: 1px solid #FF0000;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.hight-33{
    height: 33%;
}

.hight-25{
    height: 25%;
}

.hight-50{
    height: 50%;
}

.rotated-270{
    color: white;
    transform: rotate(270deg);
    /* translate(-50%, -50%)  */
}

.home-page-span{
    transform:translate(-66%, 0);
}

.page-content > * {
    width: 100%;
}
.page-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center
}
.page-title-text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center
}

.navlink{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.navlink.active {
    color: #FF0000
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#040821;
    opacity: .7
}

.btn {
    border-radius: 10px !important;
    padding: 10px 65px !important;
    display: inline-block !important;
    font-weight: bold !important;
    border: 2px solid !important;
    white-space: nowrap !important;
    text-transform: none !important;
    letter-spacing: 3px !important;
}
.btn.btn-1 {
    color: black !important;
    border-color: #FF0000 !important;
}
.btn.btn-1:hover {
    box-shadow: 0 0 5px 5px rgba(255,105,135,.3);
}
.btn.btn-2{
    color: white !important;
    border-color: #FF0000 !important;
}
.btn.btn-2:hover {
    box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);
}
.btn.btn-3 {
    color: white !important;
    border-color: #FF0000 !important;
    background-color: #FF0000!important;
}
.btn.btn-3:hover {
    box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);
}

.wrapper-social-icons a{
    margin: 5px;
}
.wrapper-social-icons a .socialIcon {
    width:45px;
}
@media (max-width: 600px){
    .wrapper-social-icons a .socialIcon{
        width:35px;
    }
}
.arrow-css{
        width: 30;
        height: 30;
        border-top: 50px solid transparent;
        border-left: 100px solid red;
        border-bottom: 50px solid transparent;
        box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);

}

/* FORM */
.MuiTextField-root .MuiFormLabel-root {
    color: white;
    opacity: .6
}
.MuiTextField-root .MuiInputBase-input {
    color: white;
}
.MuiTextField-root .MuiSvgIcon-root {
    color: white;
    opacity: .6;
}
.MuiTextField-root .MuiFormLabel-root.Mui-focused {
    color: white;
    opacity: 1
}
.MuiTextField-root .Mui-focused .MuiSvgIcon-root {
    color: #FF0000;
    opacity: 1;
}
.MuiTextField-root .MuiInput-underline:hover:not(.Mui-disabled):before, 
.MuiTextField-root .MuiInput-root.Mui-focused {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.MuiTextField-root .MuiInput-underline:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/*         Welcome page - begin          */
.container-baletka {
    display: block;
    height: 100vh;
    position: relative;
}
.container-baletka .wrapper-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container-baletka .wrapper-logo .logo {
    width: 200px;
}
.container-baletka .video {
    position:absolute;
    left:0;
    top:0;
    z-Index:-100;
    object-fit: cover;
}
.container-baletka .wrapper-social-icons {
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 25px
}

@media (max-width: 960px){
    .container-baletka .wrapper-social-icons {
        right: 50%;
        transform: translateX(50%);
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 600px){
    .container-baletka .logo{
        width: 100px;
    }
}
/*         Welcome page - end         */

/*         Header & Footer - begin    */ 
.header,
.footer {
    padding: 0 50px;
    height: 100%;
}
.header .logo, 
.footer .logo {
    width: 100px;
}
.header .language-select, 
.footer .language-select {
    float: right;
}

/*         Header - begin          */
.header-wrapper {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 200;
    background-color: rgba(4, 8, 33, 1);
    transition: all .3s linear;
}
.header-wrapper--trans,
.header-wrapper--grad {
    background-color: transparent;
}
.header-wrapper--grad {
    /* background: linear-gradient(180deg, rgba(0,0,0,0.9472163865546218) 0%, rgba(2,5,12,0.9500175070028011) 5%, rgba(0,5,35,0.9500175070028011) 15%, rgba(0,6,35,0.8547794117647058) 30%, rgba(255,255,255,0) 100%); */
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(4,8,33,1) 95%);
}
.header-wrapper.active {
    height: 70px
}
.header-wrapper--trans.active,
.header-wrapper--grad.active {
    background-color: rgba(4, 8, 33, .7);
}
.header-wrapper--grad.active {
    background-image: none;
}
.header .MuiNativeSelect-icon{
    color: #FF0000;
}
.header .MuiSelect-select:focus{
    background-color: #040821;
}
.option:hover{
    background-color: #040821!important;
}
.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: #040821!important;
}
.header .MuiInputBase-root{
    color: white;
}
.header .MuiInput-underline:before{
    border-bottom-color: #FF0000!important;
}
.header .MuiInput-underline:after{
    border-bottom: none!important;
}

/*         Drop menu - begin          */
.drop-menu-icon{
    color: #FF0000;
    font-size: 3.5rem!important;
}

.dropMenu{
    background-color: #040821!important;
    display: none!important;
    position: absolute;
    top: 35px;
    left: 88%;
    z-index: 200;
}

.dropMenuButton{
    padding: 0!important;
}

.drop-menu-nav-links{
    background-color:#040821!important;
}

.MuiListItem-button a{
    text-decoration: none;
    color: white;
}

/* .dropMenuPaper{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate3d(-78px, 49px, 0px)!important;
    will-change: transform;
    width: 144px!important;
} */

/* .dropMenuPaper {
    text-align: center;
    width: 100%;
}

.dropMenuPaper strong{
    text-align: center!;
    width: 100%;
} */
.header .MuiListItem-gutters{
    padding: 0 0 0 30px!important;
}

@media screen and (max-width: 960px){
    .dropMenu{
         display: block!important;
     }

     .header{
        width: 80%;
     }
     
     .drop-menu-container{
         position: relative;
     }
}

@media screen and (max-width: 700px){
    .header .MuiGrid-container {
        padding-left: 0;
    }
}
/*         Drop menu - end       */
/*         Header - end          */

/*         Footer - begin     */
.footer-wrapper {
    height: 200px;
    background-color: #040821;
}
.footer-wrapper .wrapper-social-icons {
    float: right;
}
footer p{
    color: white;
}

@media screen and (max-width: 960px){
    footer{
        height: 280px;
    }
    footer .socialIcon {
        height: 30px!important;
        width: 33px!important;
    }    
    .footer-language{
        float: right!important;
    }
}
/*         Footer - end          */
/*         Header & Footer - end          */

/*         Main - begin          */
.content-padd-top {
    padding-top: 130px
}

.content-light {
    background-color: white;
    color: black;
}

.content-dark {
    background-color: #040821;
    color: white;
}

/*         Home page - begin          */
#home-page .page-content {
    width: 854px;
    margin: 0 auto;
}
.grid-wraper {
    z-index: 3;
    transition: all .5s;
}

.arrow-img-wrapper-leftBorder,.arrow-img-wrapper-rightBorder{
    width:50px;
    height:50px;
    position:relative;
    overflow:hidden;
    top:46%;
    left: -66px;
 }
 
.arrow-img-wrapper-leftBorder:hover{
    box-shadow: 0 0 30px 0px  rgba(255, 105, 135, .3);
    clip-path: inset(0px -10px 0px 0px);
 }

 .arrow-img-wrapper-rightBorder:hover{ 
    box-shadow: 0 0 15px 0px  rgba(255, 105, 135, .3);
    clip-path: inset(0px 0px 0px -10px);
 }
 
.arrow{
    position:absolute;
    bottom:50%; 
    left:50%;
    width:75%;  
    height:75%;
    transform-origin:0 100%;
    z-index:1;
}

.arrow:hover{
    box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);
}

.arrow.arrow-left{
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    background:#FF0000;
}

.arrow.arrow-right{
    -webkit-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    transform:rotate(225deg);
    background:#FF0000;
}

/* .triangle {
    position:absolute;
    bottom:50%; 
    left:50%;
    width:75%;  
    height:75%;
    transform-origin:0 100%;
    z-index:1;
    -webkit-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    transform:rotate(225deg);
    background:#FF0000;
}
.triangle:hover {
    box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);
    z-index:2;
} */

.follow-us-wrapper{
    padding-right: 50px;
}

.vertical-line-wrapper{
    padding-right: 66px;
}

.home-social-icon-wrapper{
    padding-right: 45px;
}

#home-page .wrapper-social-icons{
    width: 45px;
    float: right;
}

.baletka-img{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
}
.whitBlur{
    filter: blur(40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whithoutBlur{
    backdrop-filter: none;
}

#home-page .wrapper-social-icons a{
    margin:0!important;
}

.main-grid-wrapper{
    height: 580px;
}

.vericaltext{
    margin: 0;
    float: right;
    width: 30px!important;
    font-size: 15px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#home-page .container {
    white-space: nowrap;
    height: 50px;
    padding-top: 10px;
}
  
  .scrolling {
    animation: marquee 50s linear infinite;
    display: inline-block;
    padding-right: 10px;
    font-size: 24px;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
      /* left: 0%; */
    }
    to { 
      transform: translateX(-100%);
      /* left: 100%; */
    }
  }

#home-page .nav-link-button{
    height: 46px;
    padding: 13px 0;
    margin:40px auto 0 auto;
}

.video-cointainer .button-icon {
    width: 50px;
}

@media screen and (max-width: 960px){   
    #home-page .video-cointainer {
        width: 640px;
    }
    
}

@media screen and (max-width: 700px){
    #home-page .video-cointainer {
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    #home-page .video-cointainer {
        width: 420px;
    }  
}

@media screen and (max-width: 600px){
    #home-page .video-cointainer {
        width: 320px;
    }
}
/*         Home page - end          */

/*         About us - begin         */
#about-us-page .page-content {
    width: 740px;
    margin: 0 auto;
}
#about-us-page .page-content h1 {
    margin: 80px 0;
    font-weight: bold;
    letter-spacing: 13px;
    font-size: 75px;
    word-spacing: 13px;
} 
#about-us-page .nav-link-button {
    color: black;
    height: 41px;
    padding: 13px 0;
    margin:5% auto 10% auto;
}

@media screen and (max-width: 1280px){
    #about-us-page .p-second{
        width: 50%;    
    }
}
@media screen and (max-width: 960px){
    #about-us-page .p-second{
        width: 480px;    
    }
    #about-us-page img {
        height: 300px;
        width: 480px;
    }
    #about-us-page h1 {
        font-size: 48px;
    }
}
/*         About page - end          */

/*         Contact page - begin             */
#contact-page .contact-content {
    height: 600px;
    position: relative;
}
.fake-space {
    height: 200px;
}
#contact-page .contact-info {
    transition: all .5s;
}
#contact-page .contact-form-btn-wrapper {
    transition: all .5s;
    /* transition: width 1s, max-width 1s, flex-basis 1s; */
}
#contact-page .contact-form-wrapper {
    transition: all .5s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
}
#contact-page .contact-form-btn-wrapper .contact-form-btn {
    transform: rotate(90deg);
}
#contact-page .contact-form-wrapper .contact-form {
    background-color: #000819;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 60px 200px 40px 110px;
    color: white !important;
}
/*         Contact page - end          */

/*         Production page - begin         */
#production-page .production-category-btn-wrapper {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}
#production-page .production-category-btn-wrapper .underline-effect:after {
    left: -2.5px;
}
#production-page .production-performance-btn-wrapper {
    font-weight: bold;
    display: inline-block;
    padding: 3px 0px
}
#production-page .production-performance-btn-wrapper:not(:last-child):after {
    content: '/';
    padding-left: 16px;
    padding-right: 8px;
    margin-right: 8px;
    color: #FF0000;
}
#production-page .production-performance-btn {
    transition: transform 0.35s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
}
#production-page .production-performance-btn:hover {
    transform: scale(1.25); 
}
#production-page .production-performances {
    height: 722px;
}
/*         Production page - end          */

/*         Category page - begin         */
/* slider settings in this page */
#category-page .slider-wrapper {
    height: 100vh;
}
#category-page .slider-wrapper .slider-image {
    object-fit: cover;
    height: 100vh;
}
#category-page .slider-wrapper .slick-dots {
    bottom: 70px;
    z-index: 101;
}
#category-page .slider-wrapper .slick-dots button:before {
    color: #bada55;
    opacity: .5
}
#category-page .slider-wrapper .slick-dots button:hover:before {
    opacity: 1
}
#category-page .slider-wrapper .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1
}
/* menu under slider in this page */
#category-page .category-menu-wrapper {
    /* background: linear-gradient(0deg, rgba(0,0,0,0.9472163865546218) 0%, rgba(2,5,12,0.9500175070028011) 5%, rgba(0,5,35,0.9500175070028011) 15%, rgba(0,6,35,0.8547794117647058) 30%, rgba(255,255,255,0) 100%); */
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(4,8,33,1) 95%);
    bottom: 0;
    z-index: 100;
    position: absolute;
}
#category-page .category-menu-wrapper .category-menu {
    font-size: 14px;
    width: 1656px;
    margin: 0 auto;
    padding: 30px 0
}
#category-page .category-menu-wrapper .slick-slide {
    outline: none;
    width: 300px;
}
#category-page .category-menu-wrapper .slick-slide.slick-center {
    width: 400px;
}
#category-page .category-menu-wrapper .category-menu-item {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 34px;
    width: 300px;
    outline: none;
}
#category-page .category-menu-wrapper .category-menu-item div {
    display: inline-block;
    transition: all .5s
}
#category-page .category-menu-wrapper .slick-center .category-menu-item div {
    font-weight: bold;
    transform: scale(2);
}
#category-page .page-content {
    width: 350px;
    margin: 0 auto;
}
/*         Category page - end          */

/*         Performance item - begin          */
.performance-item {
    transition: transform 0.35s ease-in-out;
    background-color: #ccc;
}
.performance-item .performance-image {
    object-fit: cover;
    position: absolute;
}
.performance-item .performance-name,
.performance-item .performance-overlay-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.performance-item .text-fit > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.performance-item .performance-overlay-text {
    display: none;
    width: 90%;
}
.performance-item .performance-overlay-title {
    font-size: 26px;
}
.performance-item .performance-overlay-info {
    font-size: 12px;
}
.performance-item:hover {
    transform: scale(1.10); 
}
.performance-item:hover .performance-name {
    display: none;
}
.performance-item:hover .performance-overlay {
    opacity: .9;
}
.performance-item:hover .performance-overlay-text {
    display: block;
}
/*         Performance item - end          */
/*         Main - end          */

.button-underpage{
    display: block;
    position: absolute!important;
    left: 100%;
    top: 50%;
    z-index: 100;
    transform: translate(-100%,-50%) rotate(90deg);
    display: block!important;
    color: white!important;
    width: 184px!important;
    border: 2px solid!important;
    border-color: #FF0000!important;
    border-radius: 8px!important;
    letter-spacing: 5px!important;
    white-space: nowrap!important;
    font-size: 0.75rem!important;
    text-align: center!important;
    padding: 9px 0!important;
    text-decoration: none!important;
    background: transparent!important;
}

.button-underpage-text{
    position: relative;
    display: inline-block;
}

/*         Material UI fix - begin          */
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-8 {
    max-width: 100%;
    max-height: 66.666667%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-4 {
    max-width: 100%;
    max-height: 33.333333%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-7 {
    max-width: 100%;
    max-height: 58.333333%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-5 {
    max-width: 100%;
    max-height: 41.666667%;
}
/*         Material UI fix - end          */