
/* CONSTANTS */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent !important;
    font-family: 'Montserrat'!important;
    overflow-x: hidden;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none; 
}

.hand {
	cursor: pointer
}

.bold {
	font-weight: bold;
}

.fullHeight {
    height: 100%
}
.fullWidth {
    width: 100%
}
.width-small{
    width: 10%;
}
.width-bigg{
    width: 80%;
}

.width-45px{
    width: 45px;
}
.overflow {
    overflow: hidden;
}

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}

.t-center {
    text-align: center
}
.t-red {
    color: #FF0000!important;
}
.center {
    margin: 0 auto
}
.pos-abs-00{
    position: absolute;
    top: 0;
    left: 0;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-size-20{
    font-size: 20px;
}
.o-low {
    opacity: .3
}
.o-mid {
    opacity: .6
}
.o-high {
    opacity: .9
}
.o-full {
    opacity: 1
}

.flt-rgt {
	float: right !important
}
.flt-lft {
	float: left !important
}

.none {
    display: none
}
.inl-blc {
    display: inline-block
}
.blc {
    display: block;
}

.no-push {
	margin: 0 !important
}
.no-padd {
	padding: 0 !important
}
.no-padd-btm {
    padding-bottom: 0 !important;
}
.padd-btm-hlf {
	padding-bottom: 15px !important
}
.padd-btm {
	padding-bottom: 30px !important
}
.padd-btm-dbl {
	padding-bottom: 60px !important
}
.padd-top-hlf {
	padding-top: 15px !important
}
.padd-top {
	padding-top: 30px !important
}
.padd-top-dbl {
	padding-top: 60px !important
}
.padd-lft-hlf {
	padding-left: 15px !important
}
.padd-lft {
	padding-left: 30px !important
}
.padd-lft-dbl {
	padding-left: 60px !important
}
.padd-rgt-hlf {
	padding-right: 15px !important
}
.padd-rgt {
	padding-right: 30px !important
}
.padd-rgt-dbl {
	padding-right: 60px !important
}
.push-btm-hlf {
	margin-bottom: 15px !important
}
.push-btm {
	margin-bottom: 30px !important
}
.push-btm-dbl {
	margin-bottom: 60px !important
}
.push-top-hlf {
	margin-top: 15px !important
}
.push-top {
	margin-top: 30px !important
}
.push-top-dbl {
	margin-top: 60px !important
}
.push-lft-hlf {
	margin-left: 15px !important
}
.push-lft {
	margin-left: 30px !important
}
.push-lft-dbl {
	margin-left: 60px !important
}
.push-rgt-hlf {
	margin-right: 15px !important
}
.push-rgt {
	margin-right: 30px !important
}
.push-rgt-dbl {
	margin-right: 60px !important
}



/* GENERAL */
.vertical-line-red{
    width: 1px;
    border-right: 1px solid #FF0000;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.hight-33{
    height: 33%;
}

.hight-25{
    height: 25%;
}

.hight-50{
    height: 50%;
}

.rotated-270{
    color: white;
    transform: rotate(270deg);
    /* translate(-50%, -50%)  */
}

.home-page-span{
    transform:translate(-115%, 0);
}

.page-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center
}
.page-title-text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center
}

.navlink{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    border-radius: 10px !important;
    padding: 10px 65px !important;
    display: inline-block !important;
    font-weight: bold !important;
    border: 2px solid !important;
    white-space: nowrap !important;
    text-transform: none !important;
    letter-spacing: 3px !important;
}
.btn.btn-1 {
    color: black !important;
    border-color: #FF0000 !important;
}
.btn.btn-1:hover {
    box-shadow: 0 0 5px 5px rgba(255,105,135,.3);
}
.btn.btn-2{
    color: white !important;
    border-color: #FF0000 !important;
}
.btn.btn-2:hover {
    box-shadow: 0 0 5px 5px rgba(255, 105, 135, .3);
}

.btn.btn-3 {
    color: white !important;
    border-color: #FF0000 !important;
    background-color: #FF0000!important;
}

.wrapper-social-icons a{
    margin: 5px;
}
.wrapper-social-icons a .socialIcon {
    width:45px;
}
@media (max-width: 600px){
    .wrapper-social-icons a .socialIcon{
        width:35px;
    }
}

/* FORM */
.MuiTextField-root .MuiFormLabel-root {
    color: white;
    opacity: .6
}
.MuiTextField-root .MuiInputBase-input {
    color: white;
}
.MuiTextField-root .MuiSvgIcon-root {
    color: white;
    opacity: .6;
}
.MuiTextField-root .MuiFormLabel-root.Mui-focused {
    color: white;
    opacity: 1
}
.MuiTextField-root .Mui-focused .MuiSvgIcon-root {
    color: #FF0000;
    opacity: 1;
}
.MuiTextField-root .MuiInput-underline:hover:not(.Mui-disabled):before, 
.MuiTextField-root .MuiInput-root.Mui-focused {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.MuiTextField-root .MuiInput-underline:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/*  Uvodna strana - Baletka      */
.container-baletka {
    display: block;
    height: 100vh;
    position: relative;
}

.container-baletka .overlay {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity: 0.7;
    z-Index:-50;
    background-color: #040821;
}

.container-baletka .wrapper-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-baletka .wrapper-logo .logo {
    width: 200px;
}

.container-baletka .video {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-Index:-100;
    object-fit: cover;
}

.container-baletka .wrapper-social-icons {
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 25px
}

@media (max-width: 960px){
    .container-baletka .wrapper-social-icons {
        right: 50%;
        transform: translateX(50%);
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 600px){
    .container-baletka .logo{
        width: 100px;
    }
}
/* END - Uvodna stranka - Baletka */

/* Header & Footer */ 
.header,
.footer {
    padding: 0 50px;
    height: 100%;
    background-color: #040821;
}
.header .logo, 
.footer .logo {
    width: 100px;
}
.header .language-select, 
.footer .language-select {
    float: right;
}

/*      Header      */
.header-wrapper {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 200;
    background-color: #040821;
}

.header .MuiNativeSelect-icon{
    color: #FF0000;
}
.header .MuiSelect-select:focus{
    background-color: #040821;
}

.option:hover{
    background-color: #040821!important;
}
.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: #040821!important;
}
.header .MuiInputBase-root{
    color: white;
}
.header .MuiInput-underline:before{
    border-bottom-color: #FF0000!important;
}
.header .MuiInput-underline:after{
    border-bottom: none!important;
}

/*        Footer     */
.footer-wrapper {
    height: 200px;
}
.footer-wrapper .wrapper-social-icons {
    float: right;
}
footer p{
    color: white;
}

/* ? */
/* .footer .MuiPaper-elevation1{
    box-shadow: none!important;
} */

@media screen and (max-width: 960px){
    footer{
        height: 280px;
    }

    footer .socialIcon {
        height: 30px!important;
        width: 33px!important;
    }    
    
    .footer-language{
        float: right!important;
    }
}


/* ? */
/* .footer .MuiInputBase-root{
    color: white;
}
.footer .MuiInput-underline:before{
    border-bottom-color: #FF0000!important;
}
.footer .MuiInput-underline:after{
    border-bottom: none!important;
}
.footer .MuiNativeSelect-icon{
        color: #FF0000;
}
.footer .MuiSelect-select:focus{
    background-color: #040821;
} */
/* END - Header & Footer */

/* Main */
.content{
    padding-top: 100px;
}

.content-light {
    background-color: white;
    color: black;
}

.content-dark {
    background-color: #040821;
    color: white;
}

/*   Home page      */
.baletka-img{
    max-height: 100%;
}
.whitBlur{
    filter: blur(40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whithoutBlur{
    backdrop-filter: none;
}

.arrow-image {
    top:46%;
}

.home-button-view-all{
    margin-top: 200px!important;
}
.inner-container-home-first .wrapper-social-icons a{
    margin:0!important;
}

.main-grid-wrapper{
    height: 600px;
}

.vericaltext{
    margin: 0;
    float: right;
    width: 30px!important;
    font-size: 15px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.homepage-performances {
    box-shadow: 0px 0px 50px 10px black;
    background-color: rgba(0, 0, 0, .5)
}

.container-home .container {
    box-shadow: -1px 0px 10px 0px rgba(250, 8, 8, 0.842);
    margin-top: 50px;   
    color: white;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    padding-top: 10px;
}
  
  .scrolling {
    animation: marquee 50s linear infinite;
    display: inline-block;
    padding-right: 10px;
    font-size: 24px;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
      /* left: 0%; */
    }
    to { 
      transform: translateX(-100%);
      /* left: 100%; */
    }
  }

.video{
    width: 100%;
    height: 100%;
}

.inner-container-home-first{
    height: 40%;
}


.container-home{
    background-color: #040821;
}


.container-home .nav-link-button{
    height: 46px;
    padding: 13px 0;
    margin:40px auto 0 auto;
}

.container-home h4{
    margin:100px auto 0 auto;
    color:white;
    letter-spacing: 5px;
    text-align: center;
}

.container-home p{
    width: 30%;
    margin:3% auto 0 auto   ;
    color: white;
    text-align: center;
}

.video-cointainer .button-icon{
    position: absolute;
    top: 45%;
    left: 49%;
    width: 50px;
    z-index: 200;
}

.container-home .video-cointainer{
    display: block;
    position: relative;
    margin: 10% auto 0 auto;
    width: 854px;
    height: 478px;
}

@media screen and (max-width: 1280px){
    .container-home p{
        width: 30%;
    }
}

@media screen and (max-width: 960px){   
    .container-home p {
        width: 40%;
        }

    .container-home .video-cointainer {
        width: 640px;
    }
    
}

@media screen and (max-width: 700px){
    .container-home p{
        width: 55%;
    }

    .container-home .video-cointainer {
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .container-home .video-cointainer {
        width: 420px;
    }  
}

@media screen and (max-width: 600px){
    .container-home .video-cointainer {
        width: 320px;
    }
}

.paperGrid{
    position: relative;
    overflow: hidden;
}

.performance-item {
    transition: transform 0.35s ease-in-out;
    background-color: #ccc;
    width: 100%;
    height: 100%;
}

.performance-item .performance-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.performance-item .performance-name,
.performance-item .performance-overlay-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.performance-item .performance-name {
    color: white;
    font-size: 35px;
    display: block;
}

.performance-item .performance-overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    background-color:#040821;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.performance-item .performance-overlay-text {
    width: 80%;
    margin: 0 auto;
}

.performance-item .performance-overlay-title {
    font-size: 18px;
    color: #FF0000;
}

.performance-item .performance-overlay-info {
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.performance-item:hover {
    transform: scale(1.10); 
}

.performance-item:hover .performance-name {
    display: none;
}
.performance-item:hover .performance-overlay {
    display: block;
}


/*               Drop menu             */
.drop-menu-icon{
    color: #FF0000;
    font-size: 3.5rem!important;
}

.dropMenu{
    background-color: #040821!important;
    display: none!important;
    position: absolute;
    top: 35px;
    left: 88%;
    z-index: 200;
}

.dropMenuButton{
    padding: 0!important;
}

.drop-menu-nav-links{
    background-color:#040821!important;
}

.MuiListItem-button a{
    text-decoration: none;
    color: white;
}

/* .dropMenuPaper{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate3d(-78px, 49px, 0px)!important;
    will-change: transform;
    width: 144px!important;
} */

/* .dropMenuPaper {
    text-align: center;
    width: 100%;
}

.dropMenuPaper strong{
    text-align: center!;
    width: 100%;
} */
.header .MuiListItem-gutters{
    padding: 0 0 0 30px!important;
}



@media screen and (max-width: 960px){
    .dropMenu{
         display: block!important;
     }

     .header{
        width: 80%;
     }
     
     .drop-menu-container{
         position: relative;
     }
}

@media screen and (max-width: 700px){
    .dropMenu {
        left: 84%;
    }  
    .header .MuiGrid-container {
        padding-left: 0;
    }
}

/*          About us         */
#about-us-page .page-content {
    width: 740px;
    margin: 0 auto;
}

#about-us-page .page-content > * {
    width: 100%;
}

#about-us-page .page-content h1 {
    text-align: center;
    margin: 80px 0;
    font-weight: bold;
    letter-spacing: 13px;
    font-size: 75px;
    word-spacing: 13px;
} 

#about-us-page .page-content .page-content-text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

#about-us-page .nav-link-button {
    color: black;
    height: 41px;
    padding: 13px 0;
    margin:5% auto 10% auto;
}

@media screen and (max-width: 1280px){
    #about-us-page .p-second{
        width: 50%;    
    }
}

@media screen and (max-width: 960px){
    #about-us-page .p-second{
        width: 480px;    
    }

    #about-us-page img {
        height: 300px;
        width: 480px;
    }

    #about-us-page h1 {
        font-size: 48px;
    }
}

/*            Contact page             */
#contact-page .contact-content {
    height: 600px;
    position: relative;
}
.fake-space {
    height: 200px;
}
#contact-page .contact-info {
    transition: all .5s;
}
#contact-page .contact-form-btn-wrapper {
    transition: all .5s;
    /* transition: width 1s, max-width 1s, flex-basis 1s; */
}
#contact-page .contact-form-wrapper {
    transition: all .5s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
}
#contact-page .contact-form-btn-wrapper .contact-form-btn {
    transform: rotate(90deg);
}

#contact-page .contact-form-wrapper .contact-form {
    background-color: #0d1335;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 60px 200px 40px 110px;
    color: white !important;
}


/* ? */
/*#contact-page .MuiPaper-elevation1{
    background: transparent;
    box-shadow: none;
}
.mui-form {
    color: white;
}
.MuiInput-colorSecondary.MuiInput-underline:after{
    border-bottom-color: #FF0000 ;
}
.MuiFormLabel-root{
    color: white!important;
}
.MuiInput-underline:before{
    border-bottom-color: white!important;
} 
.Mui-focused{
    color: #FF0000!important;
}
.MuiGrid-root {
    transition:transform 0.3s ease-out;
} */

.slider-container{
    width: 300px;
    height:150px;
    margin-bottom: 100px;
}

/*         Production page          */
.production-category-btn {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}
.production-performance-btn-wrapper {
    font-weight: bold;
    display: inline-block;
    padding: 3px 0px
}
.production-performance-btn-wrapper:not(:last-child):after {
    content: '/';
    padding-left: 16px;
    padding-right: 8px;
    margin-right: 8px;
    color: #FF0000;
}
.production-performance-btn {
    transition: transform 0.35s ease-in-out;
    /* font-size: 12px; */
    display: inline-block;
    cursor: pointer;
}
.production-performance-btn:hover {
    /* font-size: 18px */
    transform: scale(1.25); 
}
.production-performances {
    height: 722px;
}

/*      Under page           */
.slider-under-page{
    height: 10px;
    width: 100%;
    position: relative;
}

.contents-under-page{
    width: 50%;
    margin: 10px auto 0 auto;
}

.contents-under-page p,h3{
    text-align: center;
}

.menu-under-page .MuiPaper-elevation1{
    box-shadow: none;
}

.under-page-video-cointainer{
    position: absolute;
    top: 30px;
    left: 100px; 
    z-index: 102;
}

.under-page-overview{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    opacity: 0.7;
    position: absolute;
    background-color: #040821;

}

/* .donttouchme{
    z-index: 102 ;
} */

/* .video-under-page{
    top: 20%;
    left: 25%;
    width: 50%;
    z-index: 103;
    position: fixed;
}  */
.under-page-slider-container{
    position: relative;
    height: 400px;
}

.under-page-slider{
    height: 100%;
    width: 100%;
}

.button-underpage{
    display: block;
    position: absolute!important;
    left: 100%;
    top: 50%;
    z-index: 100;
    transform: translate(-100%,-50%) rotate(90deg);
    display: block!important;
    color: white!important;
    width: 184px!important;
    border: 2px solid!important;
    border-color: #FF0000!important;
    border-radius: 8px!important;
    letter-spacing: 5px!important;
    white-space: nowrap!important;
    font-size: 0.75rem!important;
    text-align: center!important;
    padding: 9px 0!important;
    text-decoration: none!important;
    background: transparent!important;
}

.button-underpage-text{
    position: relative;
    display: inline-block;
}


/* Material UI Fix */
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-8 {
    max-width: 100%;
    max-height: 66.666667%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-4 {
    max-width: 100%;
    max-height: 33.333333%;
}