
/* Transparent background color for input in autocomplete form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 500000s ease-in-out 0s;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/* DEFAULT SETTINGS */
@font-face {
    font-family: 'Vonique64';
    src: url('../fonts/Vonique64/Vonique64.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' !important;
}
body, html {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
body {
    background-color: transparent !important;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}
a,
a:hover {
    text-decoration: none !important; 
}
p {
    font-size: 14px;
    letter-spacing: 0;
}
h2, h3 {
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}
h3 {
    font-size: 34px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
h6, p {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/* CONSTANTS */
.fullSize {
    width: 100% !important;
    height: 100% !important
}
.fullHeight {
    height: 100% !important
}
.fullWidth {
    width: 100%!important
}
.width-small{
    width: 10%;
}
.width-big{
    width: 80%;
}
.width-fit-content{
    width: fit-content!important;
}
.hight-33{
    height: 33%;
}
.hight-25{
    height: 25%;
}
.hight-50{
    height: 50%;
}

.pos-rel {
    position: relative !important;
}
.pos-abs {
    position: absolute !important;
}
.overflow {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}
.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-none {
    text-align: none!important;
}
.t-red {
    color: #FF0000 !important;
}
.t-white {
    color: white !important
}
.t-bold {
	font-weight: bold !important;
}
.hand {
	cursor: pointer
}

.center {
    margin: 0 auto
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.o-none {
    opacity: 0;
}
.o-low {
    opacity: .3
}
.o-mid {
    opacity: .6
}
.o-high {
    opacity: .9
}
.o-full {
    opacity: 1
}

.flt-rgt {
	float: right !important
}
.flt-lft {
	float: left !important
}

.none {
    display: none
}
.inl-blc {
    display: inline-block
}
.blc {
    display: block;
}

.no-push {
	margin: 0 !important
}
.no-padd {
	padding: 0 !important
}
.no-padd-btm {
    padding-bottom: 0 !important;
}
.padd-hlf{
    padding: 15px !important
}
.padd{
    padding: 30px !important
}
.padd-dbl{
    padding: 60px !important
}
.push-hlf{
    margin: 15px !important
}
.push{
    margin: 30px !important
}
.push-dbl{
    margin: 60px !important
}
.padd-btm-hlf {
	padding-bottom: 15px !important
}
.padd-btm {
	padding-bottom: 30px !important
}
.padd-btm-dbl {
	padding-bottom: 60px !important
}
.padd-top-hlf {
	padding-top: 15px !important
}
.padd-top {
	padding-top: 30px !important
}
.padd-top-dbl {
	padding-top: 60px !important
}
.padd-top-90{
    padding-top: 90px!important;
}
.padd-lft-hlf {
	padding-left: 15px !important
}
.padd-lft {
	padding-left: 30px !important
}
.padd-lft-dbl {
	padding-left: 60px !important
}
.padd-rgt-hlf {
	padding-right: 15px !important
}
.padd-rgt {
	padding-right: 30px !important
}
.padd-rgt-dbl {
	padding-right: 60px !important
}
.push-btm-hlf {
	margin-bottom: 15px !important
}
.push-btm {
	margin-bottom: 30px !important
}
.push-btm-dbl {
	margin-bottom: 60px !important
}
.push-top-hlf {
	margin-top: 15px !important
}
.push-top {
	margin-top: 30px !important
}
.push-top-dbl {
	margin-top: 60px !important
}
.push-lft-hlf {
	margin-left: 15px !important
}
.push-lft {
	margin-left: 30px !important
}
.push-lft-dbl {
	margin-left: 60px !important
}
.push-rgt-hlf {
	margin-right: 15px !important
}
.push-rgt {
	margin-right: 30px !important
}
.push-rgt-dbl {
	margin-right: 60px !important
}
.letter-s{
    letter-spacing: 5px!important;
}

/* UNDERILINE EFFECT */
.underline-effect {
    position: relative;
    display: inline-block;
}
.underline-effect:after {
    border-bottom: 2px solid black;
    content: "";
    display: block;
    transition: width 0.3s;
    position: relative;
    left: 0;
    bottom: 0;
}
.underline-effect:not(.active):after {
    width: 0%;
}
.underline-effect-wrapper:hover .underline-effect:after {
    width: 100%
}

/* GENERAL */
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-grow {
    flex-grow: 1;
}

.t-fancy {
    font-family: 'Vonique64' !important;
}

.page-content > * {
    width: 100%;
}
.page-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center
}
.page-title-text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center
}

.navlink{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.navlink.active {
    color: #FF0000
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#040821;
    opacity: .7
}

.MuiButton-root.btn,
.MuiLink-root.btn, 
.MuiIconButton-root.btn {
    border-radius: 0px;
    padding: 10px 65px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid;
    white-space: nowrap;
    text-transform: none;
    letter-spacing: 3px;
}
.btn-no-padd {
    border-radius: 0px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid;
    white-space: nowrap;
    text-transform: none;
    letter-spacing: 3px;
}

.btn:hover {
    box-shadow: 0 0 5px 5px rgba(255,105,135,.3);
}
.btn-no-padd:hover {
    box-shadow: 0 0 5px 5px rgba(255,105,135,.3);
}
.btn.btn-1 {
    color: black !important;
    border-color: #FF0000 !important;
}
.btn.btn-2{
    color: white !important;
    border-color: #FF0000 !important;
}
.btn.btn-3 {
    color: white !important;
    border-color: #FF0000 !important;
    background-color: #FF0000!important;
}
.btn.btn-4 {
    color: white;
    border-color: #FF0000 !important;
    background-color: rgba(4, 8, 33, .9) !important;
}

.blur{
    filter: blur(40px);
}

.wrapper-social-icons a{
    margin: 5px;
}
.wrapper-social-icons a .socialIcon {
    width:45px;
}
@media (max-width: 600px){
    .wrapper-social-icons a .socialIcon{
        width:35px;
    }
}

/* FORM */
.MuiTextField-root .MuiFormLabel-root {
    color: white;
    opacity: .6
}
.MuiTextField-root .MuiInputBase-input {
    color: white;
}
.MuiTextField-root .MuiSvgIcon-root {
    color: white;
    opacity: .6;
}
.MuiTextField-root .MuiFormLabel-root.Mui-focused {
    color: white;
    opacity: 1
}
.MuiTextField-root .Mui-focused .MuiSvgIcon-root {
    color: #FF0000;
    opacity: 1;
}
.MuiTextField-root .MuiInput-underline:hover:not(.Mui-disabled):before, 
.MuiTextField-root .MuiInput-root.Mui-focused {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.MuiTextField-root .MuiInput-underline:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/*         Welcome page - begin          */
#welcome-page {
    display: block;
    height: 100vh;
    position: relative;
}
#welcome-page .wrapper-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#welcome-page .wrapper-logo .logo {
    width: 200px;
}
#welcome-page .video {
    position:absolute;
    left:0;
    top:0;
    z-Index:-100;
    object-fit: cover;
}
#welcome-page .wrapper-social-icons {
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 25px
}

@media (max-width: 960px){
    #welcome-page .wrapper-social-icons {
        right: 50%;
        transform: translateX(50%);
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 600px){
    #welcome-page .logo{
        width: 100px;
    }
}
/*         Welcome page - end         */

/*         Header & Footer - begin    */ 
.header,
.footer {
    padding: 0 50px;
    height: 100%;
}
.header .logo, 
.footer .logo {
    width: 100px;
}

/*         Header - begin          */
.header-wrapper {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 300;
    transition: all .4s linear;
}
.header-wrapper .logo{
    transition: all .4s linear;
}
.header-wrapper.active {
    height: 70px
}
.header-wrapper.active .logo{
    width: 85px;
    margin-left: 5.5px;
}
.header-wrapper .header-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    transition: all .4s linear;
}
.header-wrapper .header-effect--full {
    background-color: rgba(4, 8, 33, 1);
}
.header-wrapper .header-effect--trans {
    background-color: rgba(4, 8, 33, 0);
}
.header-wrapper .header-effect--grad {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(4,8,33,1) 95%);
    opacity: 1;
}
.header-wrapper.active .header-effect--trans {
    background: rgba(4, 8, 33, .8);
}
.header-wrapper.active .header-effect--grad {
    opacity: 0;
}

.header .MuiNativeSelect-icon{
    color: #FF0000;
}
.header .MuiSelect-select:focus{
    background-color: #040821;
}
.option:hover{
    background-color: #040821!important;
}
.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: #040821!important;
}
.header .MuiInputBase-root{
    color: white;
}
.header .MuiInput-underline:before{
    border-bottom-color: #FF0000!important;
}
.header .MuiInput-underline:after{
    border-bottom: none!important;
}

/*         Drop menu - begin          */
.drop-menu-icon{
    color: #FF0000;
    font-size: 3.5rem!important;
}

.dropMenu{
    background-color: #040821!important;
    display: none!important;
    position: absolute;
    top: 35px;
    left: 88%;
    z-index: 200;
}

.dropMenuButton{
    padding: 0!important;
}

.drop-menu-nav-links{
    background-color:#040821!important;
}

.MuiListItem-button a{
    text-decoration: none;
    color: white;
}

/* .dropMenuPaper{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate3d(-78px, 49px, 0px)!important;
    will-change: transform;
    width: 144px!important;
} */

/* .dropMenuPaper {
    text-align: center;
    width: 100%;
}

.dropMenuPaper strong{
    text-align: center!;
    width: 100%;
} */
.header .MuiListItem-gutters{
    padding: 0 0 0 30px!important;
}

@media screen and (max-width: 960px){
    .dropMenu{
         display: block!important;
     }

     .header{
        width: 80%;
     }
     
     .drop-menu-container{
         position: relative;
     }
}

@media screen and (max-width: 700px){
    .header .MuiGrid-container {
        padding-left: 0;
    }
}
/*         Drop menu - end       */

/*         Language select - begin          */
.header .language-select, 
.footer .language-select {
    float: right;
}
.header .MuiSelect-icon{
    color: #FF0000;
}
.MuiPaper-rounded{
    background-color: #040821!important;
    color: white!important;
    top: 66px!important;
}

option{
    text-align: center;
    cursor: pointer;
}

/* .header .MuiSelect-outlined {
    left:66px;
} */

/*         Language select - end          */
/*         Header - end          */

/*         Footer - begin     */
.footer-wrapper {
    height: 200px;
    background-color: #040821;
}
.footer-wrapper .wrapper-social-icons {
    float: right;
}
footer p{
    color: white;
}

@media screen and (max-width: 960px){
    footer{
        height: 280px;
    }
    footer .socialIcon {
        height: 30px!important;
        width: 33px!important;
    }    
    .footer-language{
        float: right!important;
    }
}
/*         Footer - end          */
/*         Header & Footer - end          */

/*         Main - begin          */
.content-padd-top {
    padding-top: 100px
}
.content-light {
    background-color: white;
    color: black;
}
.content-dark {
    background-color: #040821;
    color: white;
}

/* .fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    position: absolute;
    width: 100%;
    transition: opacity 250ms linear 250ms
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms linear
} */

/*         Home page - begin          */
#home-page .intro-section-wrapper {
    height: 100vh;
    width: 100%;
}
#home-page .performances-wrapper img {
    object-fit: cover;
}

/*         Home page - Intro section          */
#home-page .performances-wrapper .performances-item {
    z-index: 200;
}
#home-page .performances-item:not(.use-animation)  {
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    bottom: 0;
    animation: image-move-back 0s linear 2.5s forwards,
               image-scale-out 1.25s cubic-bezier(1,.2,.85,.5) 4.5s forwards;
}
#home-page .performances-item.use-animation {
    bottom: 84px;
    width: 310px;
    height: 330px;
    left: 45%;
    padding: 15px 20px;
    animation:  image-scale-in 1s cubic-bezier(1,.2,.85,.5) forwards,
                image-blur .5s cubic-bezier(1,.2,.85,.5) forwards,
                image-fade-in 0s cubic-bezier(1,.2,.85,.5) forwards,
                image-move-back 0s linear forwards,
                image-scale-out 1.25s cubic-bezier(1,.2,.85,.5) forwards;
    animation-delay: 2.5s, 2.5s, 2.5s, 6s, 7.5s;
}
@keyframes image-scale-in {
    to {
        width: 100%;
        height: 100%;
        padding: 0;
        left: 0;
        bottom: 0;
    }
}
@keyframes image-blur {
    to {
        filter: blur(0px);
    }
}
@keyframes image-fade-in {
    to {
        opacity: 1;
    }
}
@keyframes image-scale-out {
    to {
        transform: scale(1.20);
    }
}
@keyframes image-move-back {
    to {
        z-index: 199;
    }
}

#home-page .performances-item .overlay {
    opacity: .5;
    animation: previous-image-overlay 1.25s cubic-bezier(1,.2,.85,.5) forwards
}
#home-page .performances-item:not(.use-animation) .overlay {
    animation-delay: 4.5s;
}
#home-page .performances-item.use-animation .overlay {
    animation-delay: 7.5s;
}
@keyframes previous-image-overlay {
    to {
        opacity: .9;
    }
} 

#home-page .performances-item .image-content {
    top: 60%;
    left: 160px;
    padding-left: 60px;
    max-width: 40%;
    transform: translateY(-50%);
    z-index: 199;
    opacity: 0;
    animation: image-content .5s forwards;
}
#home-page .performances-item:not(.use-animation) .image-content {
    animation-delay: 1s;
}
#home-page .performances-item.use-animation .image-content {
    animation-delay: 4.5s;
}
@keyframes image-content {
    to {
        opacity: 1;
        top: 50%;
    }
}
#home-page .performances-item .image-content-category {
    font-size: 30px;
}
#home-page .performances-item .image-content-name {
    font-size: 80px;
    letter-spacing: 10px;
}
#home-page .performances-item .image-content-addinfo {
    font-size: 18px;
}

#home-page .performances-wrapper .slider-performances {
    z-index: 200;
    bottom: 80px;
    left: 45%;
    width: 65%;
}
#home-page .slider-performances .slick-arrow {
    top: 100%;
}
#home-page .slider-performances .slick-arrow.slick-next {
    left: 0;
}
#home-page .slider-performances .slick-slide {
    padding: 15px 20px;
}
#home-page .slider-performances .slick-slide.slick-current {
    animation: poster-fade-out .5s linear forwards;
    animation-delay: 3.5s;
}
#home-page .performances-item:not(.use-animation) ~ .slider-performances .slick-slide.slick-current {
    animation-delay: 4s;
}
@keyframes poster-fade-out {
    to {
        opacity: 0;
    }
}
#home-page .slider-performances .slick-slide img {
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    height: 300px;
}

/*         Home page - News section          */
#home-page .news-vertical-line {
    flex-grow: 1;
    width: 1px;
    background: #FF0000;
}
#home-page .news-section-wrapper {
    top: 0;
    z-index: 200;
}
#home-page .news-section-wrapper,
#home-page .news-section-wrapper .news-container-wrapper {
    width: 160px;
    transition: all .5s;
}
#home-page .news-section-wrapper.active,
#home-page .news-section-wrapper.active .news-container-wrapper {
    width: 100%
}
#home-page .news-section-wrapper .news-img {
    left: -100%;
    transition: all .5s;
}
#home-page .news-section-wrapper.active .news-img {
    left: 0;
}
#home-page .news-img img {
    object-fit: cover;
}

#home-page .news-container {
    height: 550px;
    top: 50%;
    transform: translateY(-50%);
}
#home-page .news-section-wrapper .news-content-wrapper {
    left: 160px;
    width: 0;
    transition: all .5s;
}
#home-page .news-section-wrapper.active .news-content-wrapper {
    width: calc(100% - 160px);
}
#home-page .news-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px
}
#home-page .news-btn-wrapper .news-vertical-line {
    margin-left: 22px
}
#home-page .news-btn-wrapper .news-btn {
    bottom: -100px;
    left: 80px;
    margin: 0;
}
#home-page .news-btn-wrapper .news-btn .flex-row{
    align-items: center;
}
#home-page .news-btn-wrapper .news-btn-text {
    font-size: 14px;
    text-transform: uppercase;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    letter-spacing: 5px;
}
#home-page .news-btn-wrapper .news-btn-name {
    text-transform: uppercase;
    font-size: 20px;
    white-space: normal;
    padding: 10px;
    text-align: left;
}
#home-page .news-follow-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -100%;
    transition: left .5s;
}
#home-page .news-section-wrapper.active .news-follow-us-wrapper {
    left: calc(100% - 101px);
}
#home-page .news-follow-us {
    font-size: 14px;
    text-transform: uppercase;
    text-orientation: upright;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
}
#home-page .news-follow-us-wrapper .wrapper-social-icons a {
    display: block
}
#home-page .news-content {
    left: -100%;
    bottom: 0;
    width: calc(100% - 160px);
    max-width: 800px;
    transition: all .5s;
    padding: 0 50px
}
#home-page .news-section-wrapper.active .news-content {
    left: 0;
}
#home-page .news-content .news-header{ 
    font-size: 100px;
    line-height: 100px;
}


#home-page .page-content {
    width: 854px;
    margin: 0 auto;
}
#home-page .video-container .button-icon {
    width: 50px;
}
@media screen and (max-width: 960px){   
    #home-page .video-container {
        width: 640px;
    }
    
}
@media screen and (max-width: 700px){
    #home-page .video-container {
        width: 500px;
    }
}
@media screen and (max-width: 600px){
    #home-page .video-container {
        width: 420px;
    }  
}
@media screen and (max-width: 600px){
    #home-page .video-container {
        width: 320px;
    }
}
/*         Home page - end          */

/*         About us - begin         */
#about-us-page .page-content {
    width: 740px;
    margin: 0 auto;
}
#about-us-page .page-content h1 {
    margin: 80px 0;
    font-weight: bold;
    letter-spacing: 13px;
    font-size: 70px;
    word-spacing: 13px;
} 
#about-us-page .nav-link-button {
    color: black;
    height: 41px;
    padding: 13px 0;
    margin:5% auto 10% auto;
}

@media screen and (max-width: 1280px){
    #about-us-page .p-second{
        width: 50%;    
    }
}
@media screen and (max-width: 960px){
    #about-us-page .p-second{
        width: 480px;    
    }
    #about-us-page img {
        height: 300px;
        width: 480px;
    }
    #about-us-page h1 {
        font-size: 48px;
    }
}
/*         About page - end          */

/*         Contact page - begin             */

#contact-page .contact-content {
    height: 600px;
    position: relative;
}
.fake-space {
    height: 200px;
}
#contact-page .contact-info {
    transition: all .5s;
}
#contact-page .contact-info-weapper {
    transition: all .5s;
}
#contact-page p{
    
    /* transition-property: text-align;
  transition-duration: 4s;
  transition-delay: 2s; */
}

#contact-page .t-left {
    /* text-align: left; */
    transition: width .5s;
}
#contact-page .contact-form-btn-wrapper {
    transition: all .5s;
    /* transition: width 1s, max-width 1s, flex-basis 1s; */
}
#contact-page .contact-form-wrapper {
    transition: all .5s;
    position: absolute;
    right: 0.8%;
    top: 26%;
    transform: translate(0,-35%);
    width: 100%;
}
#contact-page .contact-form-btn-wrapper .contact-form-btn {
    transform: rotate(90deg);
    padding: 12px 34px!important;
}
#contact-page .contact-form-wrapper .contact-form {
    background-color: #040821;
    padding: 60px 200px 40px 110px;
    color: white !important;
    border-color: #FF0000;
    border-style: solid;
    border-width: 1px 0 1px 1px ;
}
#contact-page .contact-form-wrapper .contact-form-btn{
    margin-top: 11px;
}
#contact-page .contact-form .MuiInput-underline:after{
    border-bottom: 2px solid #FF0000;
}
#contact-page .contact-form .MuiInput-underline{
    border-color: transparent!important;
}
/*         Contact page - end          */

/*         Production page - begin         */
#production-page .production-category-btn-wrapper {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}
#production-page .production-category-btn-wrapper .underline-effect:after {
    left: -2.5px;
}
#production-page .production-performance-btn-wrapper {
    font-weight: bold;
    display: inline-block;
    padding: 3px 0px
}
#production-page .production-performance-btn-wrapper:not(:last-child):after {
    content: '/';
    padding-left: 16px;
    padding-right: 8px;
    margin-right: 8px;
    color: #FF0000;
}
#production-page .production-performance-btn {
    transition: transform 0.35s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
}
#production-page .production-performance-btn:hover {
    transform: scale(1.25); 
}
#production-page .performances {
    height: 722px;
}
/*         Production page - end          */

/*         Category page - begin         */
/* slider settings in this page */

#category-page .MuiInputBase-input.MuiInput-input:hover{
    border-bottom:none!important
}
#category-page .trailer-btn-text{
    width: 75%;
    font-size: 0.875rem;
}
#category-page .slider-wrapper {
    height: 100vh;
}
#category-page .slider-wrapper .slider-image {
    object-fit: cover;
    height: 100vh;
}
#category-page .slider-wrapper .slick-dots {
    bottom: 70px;
    z-index: 101;
}
#category-page .slider-wrapper .slick-dots button:before {
    color: #FF0000;
    opacity: .5
}
#category-page .slider-wrapper .slick-dots button:hover:before {
    opacity: 1
}
#category-page .slider-wrapper .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1
}
/* menu under slider in this page */
#category-page .category-menu-wrapper {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(4,8,33,1) 95%);
    bottom: 0;
    z-index: 100;
    position: absolute;
}
#category-page .category-menu-wrapper .category-menu {
    font-size: 14px;
    width: 1656px;
    margin: 0 auto;
    padding: 30px 0
}
#category-page .category-menu-wrapper .slick-slide {
    outline: none;
    width: 300px;
}
#category-page .category-menu-wrapper .slick-slide.slick-center {
    width: 400px;
}
#category-page .category-menu-wrapper .category-menu-item {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 34px;
    width: 300px;
    outline: none;
}
#category-page .category-menu-wrapper .category-menu-item div {
    display: inline-block;
    transition: all .5s
}
#category-page .category-menu-wrapper .category-menu-item:hover div {
    transform: scale(1.1);
}
#category-page .category-menu-wrapper .slick-center .category-menu-item div {
    font-weight: bold;
    transform: scale(2);
}
#category-page .trailer-btn-wrapper {    
    width: 194px;
    right: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 203;
}
#category-page .trailer-btn-wrapper.zIndex {
    z-index: 302
}
#category-page .trailer-video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 301;
}
#category-page .trailer-video-wrapper.mini {
    width: 400px;
    height: 250px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    align-items: flex-end;
}
#category-page .trailer-video-wrapper.mini .close-btn{
    width: fit-content;
}
#category-page .page-content {
    width: 350px;
    margin: 0 auto;
}
/*         Category page - end          */

/*         Performance item - begin          */
.performance-item {
    transition: transform 0.35s ease-in-out;
    background-color: #ccc;
}
.performance-item:hover {
    transform: scale(1.10); 
}
.performance-item .performance-image {
    object-fit: cover;
    position: absolute;
}
.performance-item .performance-overlay,
.performance-item .performance-name {
    top: 0
}
.performance-item .performance-name,
.performance-item .overlay-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.performance-item .text-fit > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.performance-item .performance-overlay {
    display: none;
}
.performance-item .overlay-text-wrapper {
    width: 90%;
}
.performance-item-1 .overlay-text-wrapper {
    padding: 30px
}
.performance-item-2 .overlay-text-wrapper {
    padding: 25px
}
.performance-item-3 .overlay-text-wrapper {
    padding: 20px
}
.performance-item-4 .overlay-text-wrapper {
    padding: 10px
}
.performance-item .overlay-title {
    font-size: 20px;
}
.performance-item-4 .overlay-title {
    font-size: 16px
}
.performance-item .overlay-info {
    font-size: 12px;
}
.performance-item-4 .overlay-info {
    font-size: 10px;
}
.performance-item:hover .performance-name {
    display: none;
}
.performance-item:hover .performance-overlay {
    display: block;
}
/*         Performance item - end          */
/*         Main - end          */

/*         Material UI fix - begin          */
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-8 {
    max-width: 100%;
    max-height: 66.666667%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-4 {
    max-width: 100%;
    max-height: 33.333333%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-3 {
    max-width: 100%;
    max-height: 25%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-6 {
    max-width: 100%;
    max-height: 50%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-7 {
    max-width: 100%;
    max-height: 58.333333%;
}
.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-5 {
    max-width: 100%;
    max-height: 41.666667%;
}
/* .MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-3 {
    max-width: calc(25% + 12px);
    flex-basis: calc(25% + 12px)
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-4 {
    max-width: calc(33.333333% + 12px);
    flex-basis: calc(33.333333% + 12px)
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-5 {
    max-width: calc(41.666667% + 12px);
    flex-basis: calc(41.666667% + 12px)
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-6 {
    max-width: calc(50% + 12px);
    flex-basis: calc(50% + 12px)
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-7 {
    max-width: calc(58.333333% + 12px);
    flex-basis: calc(58.333333% + 12px)
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-8 {
    flex-basis: calc(66.666667% + 12px);
    max-width: calc(66.666667% + 12px);
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-9 {
    flex-basis: calc(75% + 12px);
    max-width: calc(75% + 12px);
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-10 {
    flex-basis: calc(83.333333% + 12px);
    max-width: calc(83.333333% + 12px);
}
.MuiGrid-container.MuiGrid-spacing-xs-3 > .MuiGrid-grid-xs-11 {
    flex-basis: calc(91.666667% + 12px);
    max-width: calc(91.666667% + 12px);
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-1 {
    max-height: calc(8.333333% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-2 {
    max-height: calc(16.666667% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-3 {
    max-height: calc(25% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-4 {
    max-height: calc(33.333333% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-5 {
    max-height: calc(41.666667% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-6 {
    max-height: calc(50% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-7 {
    max-height: calc(58.333333% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-8 {
    max-height: calc(66.666667% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-9 {
    max-height: calc(75% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-10 {
    max-height: calc(83.333333% + 12px);
    max-width: 100%
}
.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-direction-xs-column > .MuiGrid-grid-xs-11 {
    max-height: calc(91.666667% + 12px);
    max-width: 100%
} */
/*         Material UI fix - end          */

